<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Tus Ideas Web Company</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <link rel="apple-touch-icon" href="#" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="/css/pogo-slider.min.css" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/custom.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.aniview.js"></script>
    <link rel="stylesheet" href="/pricing-tables-with-switcher/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="/pricing-tables-with-switcher/css/style.css"> <!-- Resource style -->
    <script src="/pricing-tables-with-switcher/js/modernizr.js"></script> <!-- Modernizr -->
    <!-- Modernizr -->
    
    
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
    <!--<link href="front/css/bootstrap.css" rel="stylesheet">-->
    <!--<link href="front/css/fontawesome-all.css" rel="stylesheet">-->
    <link href="/front/css/swiper.css" rel="stylesheet">
    <link href="/front/css/magnific-popup.css" rel="stylesheet">
    <link href="/front/css/animate.css" rel="stylesheet">
    <link href="/front/css/styles.css" rel="stylesheet" />
    
    
    <!-- Modernizr -->
    
    
    
    <script src="/pricing-tables-with-switcher/js/ma.js"></script> <!-- Modernizr -->
    <script src="/js/IdeasWebScripts.js"></script>
    <script>
            var NuestraPagina = {};
        NuestraPagina.IdeasWebScripts = new IdeasWebScripts();
    </script>

    <style>
        .tarjetaPlan:hover {
            border: 6px dashed #3EC152;
        }
        a .fa .fa-whatsapp{
        size: 34 px;
        }
        .logoFooter {
        width: 15%;
        }
        .cont-imagenLogo{
            width: 20%;
        }
        .cont-imagenLogo img{
            width: 100%;
        }

        .label {
        position: absolute;
        top: 0;
        right: 0;
        width: 10.625rem;
        height: 10.625rem;
        overflow: hidden;
    }

    .best-value {
        position: relative;
        width: 13.75rem;
        padding: 0.3125rem 0 0.3125rem 4.125rem;
        background-color: #3157dc;
        color: #fff;
        -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
        -ms-transform: rotate(45deg) translate3d(0, 0, 0);
        transform: rotate(45deg) translate3d(0, 0, 0);
    }
    .iconito{
        width: 164px !important; 
        padding-left: 130px !important; 
        font-size:20px;
        color: green
    }
    .tarjetita{
        width: 300px; 
        visibility: visible; 
        animation-delay: 0.9s; 
        animation-name: fadeInDown; 
    }
    
    .contIconoChat{
        
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 10px;
        right: 20px;
        display: none;
        font-size: 25px;
        border-radius: 0;
        transition: .2s;
        letter-spacing: 1px;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        font-weight: 900;
        border-radius: 100%;
    }
    .contIconoChat2{
        position: fixed;
        z-index: 999;
        right: 0.75rem;
        bottom: 0.75rem;
        display: none;
        width: 2.625rem;
        height: 2.625rem;
        border-radius: 1.875rem;
        background: #3157dc url(../images/up-arrow.png) no-repeat center 47%;
        background-size: 1.125rem 1.125rem;
        text-indent: -9999px;
    }
    .contIconMesaage{
        width: 50px;
        height: 50px;
        border-radius: 100px;
        font-size: 26px;
        color: #fff !important;
        position: fixed;
        z-index: 999;
        right: 0.75rem;
        bottom: 0.75rem;
        background: #56B4DD;
        text-align: center;
    }
    .contIconMesaage:hover{
        background: #3DA1CC;
        cursor: pointer;
        width: 51px;
        height: 51px;
    }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">

    <div id="preloader">
        <div class="loader">
            <img src="/front/images/loader-ideas.gif" alt="#" />
        </div>
    </div>
<header class="top-header">
    <nav  class="navbar header-nav navbar-expand-lg">
        <div class="container-fluid">
            <div class="cont-imagenLogo">
                <a class="navbar-brand" style="width:100px" href="/">
                    <img src="/img/nuevasimg/logo2.png" class="imagenLogo" alt="image">
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-wd" aria-controls="navbar-wd" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbar-wd">
                <ul class="navbar-nav">
                    <!-- <i>
                        <a class="nav-link active fa fa-phone" aria-hidden="true" href="/"> 998-49-939</a>
                        <a style="resize:53px;" class="nav-link active fa fa-whatsapp" aria-hidden="true" href="/"> 998-49-939</a>
                    </i> -->
                    <!-- <i><a class="nav-link active fa fa-whatsapp" aria-hidden="true" href="/"> 998-49-939</a></i> -->
                    <li><a class="nav-link active" href="/">Inicio</a></li>
                    <!-- <li><a class="nav-link" href="about.html">¿Qué hacemos?</a></li> -->
                    <!--<li><a class="nav-link" href="/VistaCliente/Cotizador">¡Así trabajamos!</a></li> -->
                    <!-- <li><a class="nav-link" href="/VistaCliente/Blog">Blog</a></li> -->
                    <li><a class="nav-link" href="/contacto">Contacto</a></li>
                    <li><a  class="nav-link active" href="#section1" style="background:#f2184f;color:#fff;" >¿Qué hacemos?</a></li>
                </ul>
            </div>
            <!-- <div class="search-box">
                <input type="text" class="search-txt" placeholder="Search">
                <a class="search-btn">
                    <img src="images/search_icon.png" alt="#" />
                </a>
            </div> -->
        </div>
    </nav>
</header>

<%- body %>

<footer class="footer-box">
    <div class="container">
        <div class="row">
            <div class="col-md-12 margin-bottom_30">
                <img style="width:100px;" src="img/logoblanco.png" class="logoFooter" alt="#" />
            </div>
            <div class="col-xl-6 white_fonts">
                <div class="row">
                    <div class="col-md-12 white_fonts margin-bottom_30">
                        <h3>Contactanos</h3>
                    </div>
                    <div class="col-md-4">
                        <div class="full icon">
                            <img src="images/social1.png">
                        </div>
                        <div class="full white_fonts">
                            <p>
                                Cancún
                                <br>México
                            </p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="full icon">
                            <img src="images/social2.png">
                        </div>
                        <div class="full white_fonts">
                            <p>
                                lasideasweb@gmail.com
                            </p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="full icon">
                            <img src="images/social3.png">
                        </div>
                        <div class="full white_fonts">
                            <p>
                                <a href="#">+5219983004532</a><br>
                                <a href="#">+5219988654134</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <ul class="full social_icon margin-top_20">
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 white_fonts">
                <div class="row">
                    <div class="col-md-6">
                        <div class="footer_blog footer_menu">
                            <h3>Menus</h3>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/contacto">Contacto</a></li>
                                <li><a onclick="NuestraPagina.IdeasWebScripts.redirigirChat()">Chat</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>
</footer>
<!-- End Footer -->

<div class="footer_bottom">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="crp">Tus Ideas Web © 2019-2024 Business.<br> Todos los derechos reservados.</p>
                <ul class="bottom_menu">
                    <li><a href="#">Terminos de servicio</a></li>
                    <li><a href="#">Privacidad</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a> -->
<div class="contIconoChat">
d
</div>

<!-- ALL JS FILES -->
<script src="/js/jquery.min.js"></script>

<script src="/js/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/jquery.pogo-slider.min.js"></script>
<script src="/js/slider-index.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/form-validator.min.js"></script>
<script src="/js/contact-form-script.js"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/images-loded.min.js"></script>
<script src="/js/custom.js"></script>

<script src="front/js/popper.min.js"></script>
    <script src="front/js/morphext.min.js"></script>
    <script src="front/js/jquery.countdown.min.js"></script>
    <script src="front/js/swiper.min.js"></script>
    <script src="front/js/jquery.magnific-popup.js"></script>
    <script src="front/js/validator.min.js"></script>
    <script src="front/js/wow.min.js"></script>
    <script src="front/js/scripts.js"></script>

    <!-- <script src="front/js/jquery.min.js"></script>
    <script src="front/js/popper.min.js"></script>
    <script src="front/js/morphext.min.js"></script>
    <script src="front/js/jquery.countdown.min.js"></script>
    <script src="front/js/swiper.min.js"></script>
    <script src="front/js/jquery.magnific-popup.js"></script>
    <script src="front/js/validator.min.js"></script>
    <script src="front/js/wow.min.js"></script>
    <script src="front/js/scripts.js"></script>

    <script src="pricing-tables-with-switcher/js/jquery-2.1.1.js"></script>
    <script src="pricing-tables-with-switcher/js/main.js"></script>  -->

<script>
    /* counter js */

    (function ($) {
        // localStorage.clear();
        // localStorage.setItem('usuario', null);
        // console.log(localStorage.getItem('sala'))
        // localStorage.setItem('usuario', nombreUsuario);
        // console.log("nombreUsuario: "+ nombreUsuario)
        //ChatIdeasWeb.ChatScripts.redirigirChat()
        $('body').append('<a onclick="NuestraPagina.IdeasWebScripts.redirigirChat()" class=" contIconMesaage"><i class="fa fa-comments"></i></a>');
        $.fn.countTo = function (options) {
            options = options || {};

            return $(this).each(function () {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from: $(this).data('from'),
                    to: $(this).data('to'),
                    speed: $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals: $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof (settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof (settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0,               // the number the element should start at
            to: 0,                 // the number the element should end at
            speed: 1000,           // how long it should take to count between the target numbers
            refreshInterval: 100,  // how often the element should be updated
            decimals: 0,           // the number of decimal places to show
            formatter: formatter,  // handler for formatting the value before rendering
            onUpdate: null,        // callback method for every time the element is updated
            onComplete: null       // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value.toFixed(settings.decimals);
        }


        
        
        
       
    }(jQuery));

    jQuery(function ($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
            formatter: function (value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });
</script>
</body>
</html>