<%- layout('layouts/nuevoLayout') %>
<style>


/* Style the buttons that are used to open the tab content */


/* Change background color of buttons on hover */


/* Create an active/current tablink class */


/* Style the tab content */



</style>
<section class="seccionHeader">
    
    <div class="slider">
        
        <div class="slides">
            
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!--radio buttons end-->
            <!--slide images start-->
            <div class="slide first">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                            <div class="contBoton">
                                <a href="/creacionPaginaWeb" class="botonPaginaWeb">Detalles</a>
                            </div>
                           
                        </div>
                    </div>
                    <div class="contImagen">
                        <img src="/img/Mac.png" />
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB2</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>Crea tu tienda en línea</h2>
                            <span>El mejor momento para convertir tu negocio en un e-commerce</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        <img src="/img/e-commerce.png" />
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        
                    </div>
                </div>
            </div>
            <!-- <div class="next" onclick="NuestraPagina.WebIdeasScripts.anteriorSlide()">
                <span><i class="fas fa-arrow-left"></i> Anterior</span>
            </div> -->
            <!--slide images end-->
            <!--automatic navigation start-->
            <div class="navigation-auto">
                <div class="auto-btn1"></div>
                <div class="auto-btn2"></div>
                <div class="auto-btn3"></div>
                <div class="auto-btn4"></div>
            </div>
            
            <!--automatic navigation end-->
        </div>

        <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
        </div>
    </div>
    
    <!-- <div class="contenedorSlider">
        
    </div> -->

    <div class="contWaves">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
        </svg>
    </div>
    
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ffffff" fill-opacity="1" d="M0,192L48,213.3C96,235,192,277,288,266.7C384,256,480,192,576,144C672,96,768,64,864,74.7C960,85,1056,139,1152,149.3C1248,160,1344,128,1392,112L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
      </svg> -->
</section>

<section class="seccionSlider">
    <div class="seccionEnfoque">
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openCity(event, 'AhorraTiempo')">Ahorra tiempo</button>
            <button class="tablinks" onclick="openCity(event, 'Optimizacion')">Optimización</button>
          </div>
          <div class="contSeccionP">
            <!-- Tab content -->
            <div id="AhorraTiempo" class="tabcontent">
                <p>Manténgase enfocado en su idea o negocio mientras le brindamos asistencia en la creacion y publicación de su sitio web.</p>
            </div>
            
            <div id="Optimizacion" class="tabcontent">
                <p>Su sitio web optimizado para estar frente a los grandes competidores.</p>
            </div>
            <div class="contImagen">
                <img src="front/images/description-hero-3.png" />
            </div>
          </div>
          
    </div>
</section>
<section class="seccionElegir">
    <div class="centrador">
        <h2 class="titulo">¿Por qué elegir Tus Ideas Web?</h2>
        <div class="cont-imagen">
            <img class="" src="/images/imagenProyectos.png" />
        </div>
        <div class="cont-descripcion">
            <div class="seccion">
                <div class="contIcon">
                    <i class="fa fa-envelope"></i>
                </div>
                <p>Le brindamos un correo empresarial que permite conectar con los clientes de manera profesional utilizando el nombre de su empresa o instituto.</p>
            </div>
            <div class="seccion">
                <div class="contIcon">
                    <i class="fa fa-pencil-ruler"></i>
                </div>
                <p>Le asistimos con nuestros diseñadores en la creacion de su logo en caso de que así lo necesite.</p>
            </div>
            <div class="seccion">
                <div class="contIcon">
                    <i class="fas fa-database"></i>
                </div>
                <p>Le proporcionamos una Base de datos asistida por nuestros especialistas.</p>
            </div>
            <div class="seccion">
                <div class="contIcon">
                    <i class="fas fa-chart-pie"></i>
                </div>
                <p>Evalúe sus campañas basadas en datos reales y tome decisiones comerciales informadas con la tecnologia de analitica de google que le brindamos.</p>
            </div>
        </div>
    </div>
</section>
<section class="seccion-categorias">
    <div class="centrador">
        <h2 class="titulo-seccion">Infalibles Características que harán a tu página web destacar</h2>
        <span class="subtitulo-seccion">Tú proxima página web preparada con lo mejor.</span>
        <div class="seccion-cajas">
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>
            <div class="caja">
                <div class="seccion-icono">
                    <div class="cont-icon">
                        <i class="fa fa-shield"></i>
                    </div>
                </div>
                <div class="cont-texto">
                    <h2>SSL</h2>
                    <p>Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.</p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="seccion-crm">
    <div class="centrador">
        <div class="seccion">
            <h2>Tus Ideas CRM PLUS</h2>
            <p>Presentamos Tus Ideas CRM PLUS crea, edita y publica tu proximo 
                producto, un aliado imprecindible para su sitio web, accese desde 
                cualquier lugar del mundo, desde cualquier dispositivo.</p>
            <div class="cont-boton">
                <a href="/">Demo</a>
            </div>
        </div>
        <div class="seccion">
            <div class="cont-imagen">
                <img src="front/images/download.png" />
            </div>
        </div>
    </div>
</section>
<script type="text/javascript">
    var counter = 1;
    setInterval(function(){
      document.getElementById('radio' + counter).checked = true;
      counter++;
      if(counter > 4){
        counter = 1;
      }
    }, 10000);

    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
    

    </script>