<%- layout('layouts/newLayout') %>

    <div class="header">
        <div class="img-slider">
            <div class="slide active">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                            <div class="contBoton">
                                <a href="/creacionPaginaWeb" class="botonPaginaWeb">Detalles</a>
                            </div>
                           
                        </div>
                    </div>
                    <div class="contImagen">
                        <img src="/img/Mac.png" />
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador"> 
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB2</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>Crea tu tienda en línea</h2>
                            <span>El mejor momento para convertir tu negocio en un e-commerce</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        <img src="/img/e-commerce.png" />
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="centrador">
                    <div class="contTexto">
                        <div class="contCaja">
                            <h2>CREAMOS Y PUBLICAMOS TU PÁGINA WEB</h2>
                            <span>ÚNETE A LOS USUARIOS SATISFECHOS Y PON TU IDEA O NEGOCIO ONLINE.</span>
                        </div>
                    </div>
                    <div class="contImagen">
                        
                    </div>
                </div>
            </div>
            <div class="navigation">
                <div class="btn active"></div>
                <div class="btn"></div>
                <div class="btn"></div>
                <div class="btn"></div>
            </div>
            <div class="contWaves">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
    </div>
    <div class="contEnfoque">
        <div class="enfoque">
            <div class="tabulador">
                <button id="defaultOpen" class="tabuladorLinks" onclick="NuestraPagina.NewLayout.tabuladorEnfoque(event, 'AhorraTiempo')">Ahorra Tiempo</button>
                <button class="tabuladorLinks" onclick="NuestraPagina.NewLayout.tabuladorEnfoque(event, 'Optimizacion')">Optimización</button>
            </div>
            <div class="contSeccion">
                <div id="AhorraTiempo" class="tabuladorContent">
                    <p>Manténgase enfocado en su idea o negocio mientras le brindamos asistencia en la creacion y publicación de su sitio web.</p>
                </div>
                <div id="Optimizacion" class="tabuladorContent">
                    <p>Su sitio web optimizado para estar frente a los grandes competidores.</p>
                </div>
            </div>
            <div class="contImagen">
                <img src="front/images/description-hero-3.png" />
            </div>
        </div>
    </div>
   