<%- layout('layouts/layoutLanding') %>
<style>
    .cd-pricing-container{
        margin: 0;
        width: 100%;
    }
    .p-heading{
        font-size:17px;
        line-height: 1vw;
    }
    .tituloSlider{
        font-size: 50px;
        font-weight: 700;
        padding: 0;
        line-height: 48px !important;
        text-transform: uppercase;
    }
    .tituloSlider span {
        color: #89DDE2;
    }
    .theme_color{
        
    }

    .row{
        display: flex;
    }
    .row .contText{
        width: 60%;
    }
    .row .contImagen{
        width: 50%;
    }
    .row .contImagen img{
        width: 200%;
    }
    .contTienda{
        background: #F9FAFC;
    }
</style>

<div class="ulockd-home-slider visible-md-12">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <div class="pogoSlider-slide"  style="background-image:url(img/Banne-Mi-Web.gif);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3>Creamos y publicamos<br> tu página web<br> </h3>
                                  
                                    <h4 ><span  class="theme_color"> <br />
                                        Únete a los usuarios satisfechos<br /> y pon tu idea o negocio online. </span></h4>
                                    <br>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image:url(img/web.gif);">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h3 class="tituloSlider">Te damos Hosting <span>¡Gratis!</span> y te asignamos un dominio  </h3>
                                    <br />
                                    
                                    <h4><span class="theme_color">En tus ideas web podemos crear <br />tu página web.</span></h4>
                                    <br>
                                    

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide contTienda">
                    <div class="container">
                        <div class="row">
                            <div class="contText">
                                <div class="slide_text">
                                    <h3 class="tituloSlider">Crea tu tienda en  <span>linea</span> </h3>
                                    <br />
                                    
                                    <h4><span class="theme_color">creamos tu propio e-commerce.</span></h4>
                                    <br>
                                    <p></p>

                                </div>
                            </div>
                            <div class="contImagen">
                                <img src="/img/e-commerce.svg" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>

<div class="slider-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">

                <div class="slider-container">
                    <div class="swiper-container image-slider-1 wow fadeInUp swiper-container-horizontal swiper-container-ios" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="swiper-wrapper" style="transform: translate3d(-1775px, 0px, 0px); transition-duration: 0ms;">
                            <div class="center swiper-slide swiper-slide-duplicate" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="2">
                                <img class="img-fluid" src="front/images/customer-logo-3.png" alt="alternative">
                            </div><div class="swiper-slide swiper-slide-duplicate" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="3">
                                <img class="img-fluid" src="front/images/customer-logo-4.png" alt="alternative">
                            </div><div class="swiper-slide swiper-slide-duplicate" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="4">
                                <img class="img-fluid" src="front/images/customer-logo-5.png" alt="alternative">
                            </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="5">
                                <img class="img-fluid" src="front/images/customer-logo-6.png" alt="alternative">
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate-active" style="width: 50.5px; margin-right: 20px;" data-swiper-slide-index="0">
                                <img class="img-fluid" style="width: 55px;" src="front/images/intel_ssd.png" alt="alternative">
                            </div>
                            <div class="swiper-slide swiper-slide-duplicate-next" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="1">
                                <img class="img-fluid" style="width: 55px;" src="front/images/ssl.svg" alt="alternative">
                            </div>
                            <div class="swiper-slide" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="2">
                                <img class="img-fluid" style="width: 60px;" src="front/images/mysql-logo.svg" alt="alternative">
                            </div>
                            <div class="swiper-slide" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="3">
                                <img class="img-fluid" src="front/images/google_analytics.svg" alt="alternative">
                            </div>
                            <div class="swiper-slide" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="4">
                                <img class="img-fluid" style="width: 70px;" src="front/images/nodejs.svg" alt="alternative">
                            </div>
                            <div class="swiper-slide" style="width: 157.5px; margin-right: 20px;" data-swiper-slide-index="4">
                                <img class="img-fluid" style="width: 50px;" src="front/images/bootstrap.svg" alt="alternative">
                            </div>

                        </div>
                        <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="features" class="tabs-v2 tabs-hero-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tabs-container">

                    <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="0.3s" id="cedoTabs" role="tablist" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Ahorra tiempo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Seguridad</i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="far fa-calendar-alt"></i>Optimización</a>
                        </li>
                    </ul>


                    <div class="tab-content" id="cedoTabsContent">

                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <p class="wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                                <strong>Manténgase enfocado en su idea o negocio </strong>
                                mientras le brindamos asistencia en la creacion y publicación de su sitio web.

                            </p>
                            <ul class="list-unstyled li-space-lg wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                                <li class="media">
                             
                                    <div class="media-body">
                                     
                                    </div>
                                </li>
                                <li class="media">
                                
                                    <div class="media-body">
                                    
                                    </div>
                                </li>
                                <li class="media">
                             
                                    <div class="media-body">
                                      
                                    </div>
                                </li>
                            </ul>
                           </div>


                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <p>
                                <strong>Mantengase planificando sus proximas estrategias mientras mantenemos el monitoreo 24/7 contra ataques DDoS de su sitio web. </strong> 
                            </p>
                            <p>
                              
                            </p>
                            <p>
                            
                            </p>
                            
                        </div>


                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <p>
                                <strong>Su sitio web optimizado para estar frente a los grandes competidores.</strong> 
                            </p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">

                                    <div class="media-body">
                                        Diseño web profesional optimizado para dispositivos móviles. <i style="color:green" class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="media">

                                    <div class="media-body">
                                        Le asistimos con las palabras clave para un mejor posicionamiento de los principales motores de búsqueda.<i style="color:green" class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="media">

                                    <div class="media-body">
                                        Enlazamos sus cuentas de Facebook, Twitter a su sitio web para aumentar el trafico de su publico objetivo. <i style="color:green" class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </li>
                                <li class="media">
                                    <div class="media-body">
                                        Tiempo de carga web rapida <i style="color:green" class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </li>
                               
                            </ul>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container wow fadeInRight" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInRight;">
                    <img class="img-fluid" src="front/images/description-hero-3.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>


<div id="preview" class="basic-1 basic-hero-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>¿Por qué elegir Tus Ideas Web?</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <div class="image-container">
                    <div class="video-wrapper">
                        <a class="popup-youtube" href="https://www.youtube.com/watch?v=jFcyYaeqZxQ" data-effect="fadeIn">
                            <img class="img-fluid" src="front/images/video.JPEG" alt="alternative">
                            <span class="video-play-button">
                                <span></span>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="area-1">
                    <ul class="list-unstyled">
                        <li class="media wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <span class="fa-stack">
                               <strong><i style="color:black;" class="fa fa-envelope-o" aria-hidden="true"></i></strong> 
                            </span>
                            <div class="media-body">
                               Le brindamos un correo empresarial que permite conectar con los clientes de manera profesional utilizando el nombre de su empresa o instituto.
                            </div>
                        </li>
                        <li class="media wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <span class="fa-stack">
                                <strong><i style="color:black;" class="fa fa-database" aria-hidden="true"></i></strong>
                            </span>
                            <div class="media-body">Le proporcionamos una Base de datos asistida por nuestros especialistas. </div>
                        </li>
                    </ul>
                </div>
                <div class="area-2">
                    <ul class="list-unstyled">
                        <li class="media wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <span class="fa-stack">
                                <strong><i style="color:black;" class="fa fa-pencil" aria-hidden="true"></i></strong>
                            </span>
                            <div class="media-body">
                               Le asistimos con nuestros diseñadores en la creacion de su logo en caso de que así lo necesite.
                            </div>
                        </li>
                        <li class="media wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <span class="fa-stack">
                                <strong><i style="color:black;" class="fa fa-pie-chart" aria-hidden="true"></i></strong>
                            </span><br />
                            <div class="media-body">
                                Evalúe sus campañas basadas en datos reales y tome decisiones comerciales informadas con la tecnologia de analitica de google que le brindamos.
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>







<!-- section -->
<div id="section1" class="section layout_padding dark_bg">
    <div class="container">
        <div class="row">
           
            <div  class="col-lg-12">
                <h2 class="text-center" style="color:white;">Infalibles Características que harán a tu página web destacar</h2>
                <p class="text-center" style="color:white;">
                    Tú proxima página web preparada con lo mejor.
                </p>
            </div>

        </div>
        <div class="row margin-top_30">
           
            <div class="col-lg-12 ">
                <div class="full">

                </div>

                <div class="row margin-top_30">

                    <div class="col-sm-6 col-md-4  wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service_blog">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class="fa fa-shield" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white">SSL</h4>
                            </div>
                            <div class="full">
                                <p style="color:white">Certificado SSL para que tu publico objetivo sepa que tu página es autentica y segura.  <br /><br /></p>
                            </div>
                          
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4  wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service_blog">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class=" fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white">Cuenta de correo</h4>
                            </div>
                            <div class="full">
                                <p class="justify-content-center" style="color:white">
                                     Dirección de correo profesional con tu dominio, ejemplo: “minombre@miempresa.es”
                                    <br />
                                    <br />  
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4  wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" >
                        <div class="service_blog">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class="fa fa-mobile" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white;"> Adaptable</h4>
                            </div>
                            <div class="full">
                                <p style="color:white;"> Web que se adapta al tamaño de pantalla de cualquier dispositivo gracias al diseño responsivo</p>

                                <br />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4   wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;" >
                        <div class="service_blog">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class="fa  fa-google" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white;"> Google Analytics</h4>
                            </div>
                            <div class="full">
                                <p style="color:white;">
                                    Con datos es mejor, por eso implementamos Google Analytics la imprescindible herramienta para analizar el trafico en tu sitio.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4  wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service_blog">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class="fa fa-server" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white;">Servidor</h4>
                            </div>
                            <div class="full">
                                <p style="color:white;">
                                  Poderoso servidor con tecnologia de almacenamiento en estado solido SSD y 6 GB de Ram para que tu web fluya como el viento.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4   wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="service_blog" style="padding-bottom:26px;">
                            <div class="center service_icons">
                                <i style="font-size:100px;" class="fa fa-lock" aria-hidden="true"></i>
                            </div>
                            <div class="center full">
                                <h4 style="color:white;"> Protección</h4>
                            </div>
                            <div class="full">
                                <p style="color:white;">Seguridad al más alto nivel con protección DDoS en tiempo real siempre activa, blindando tu sitio web y los servicios en linea.</p>  
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    

    </div>
</div>

<div class="basic-4 basic-4-hero-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-5">
                <div class="text-container">
                    <h2 class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"> <strong>Tus Ideas <font color="red"><br>CRM PLUS</font></strong></span></h2>
                    <p style="font-size:14px;"  class="p-large wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Presentamos <strong>Tus Ideas <font color="red">CRM PLUS</font></strong> crea, edita y publica tu proximo producto, un aliado imprecindible para su sitio
                  web, accese desde cualquier lugar del mundo, desde cualquier dispositivo.</p>
                    <a class="btn-solid-lg wow fadeInUp" data-wow-delay="0.6s" href="#your-link" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">DEMO</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-7">
                <div class="image-container wow fadeInLeft" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInLeft;">
                    <img class="img-fluid" src="front/images/download.png" alt="alternative">
                </div>
            </div>
        </div>
    </div>
</div>



<div id="pricing" class="pricing-v1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Tabla de Precios</h2>
               </div>
            <div class="col-lg-12 d-flex justify-content-center">
               <!-- partial:index.partial.html -->
<div class="d-lg-flex snip1404 justify-content-center">
    <div id="basic" class="plan" style="
    margin-left: 2px;
    margin-right: 2px;
">
      <header>
        <h4 class=" plan-title text-white">
          Starter
        </h4>
        <div class="plan-cost"><span class="plan-price">$1300</span><span class="plan-type">mxn/anual</span></div>
      </header>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
      </ul>
      <div class="plan-select"><a href="">SELECCIONAR PLAN</a></div>
    </div>
    <br>
    <div id="popular" class="plan" style="
    margin-left: 2px;
    margin-right: 2px;
">
      <header>
        <h4 class="plan-title text-white">
           
          Basic
        </h4>
        <div class="plan-cost"><span class="plan-price">$1900</span><span class="plan-type">mxn/anual</span></div>
      </header>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan/li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
      </ul>
      <div class="plan-select"><a href="">SELECCIONAR PLAN</a></div>
    </div>
   <br>
    <div id="ultra" class="plan featured" style="
    margin-left: 2px;
    margin-right: 2px;
">
      <header>
        <h4 class="plan-title text-white">
           
          Ultra
        </h4>
        <div class="plan-cost"><span class="plan-price">$4000</span><span class="plan-type">mxn/anual</span></div>
      </header>
      <ul class="plan-features">
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan/li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
        <li><i class="ion-checkmark"> </i>osmar cocom euan</li>
      </ul>
      <div class="plan-select"><a href="">SELECCIONAR PLAN</a></div>
    </div><br>
  </div>
            </div>
        </div>
     
    </div>
    </div>